

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Esto hace que el contenedor ocupe al menos la altura completa de la pantalla */
  }
  
  .center-content {
    text-align: center;
  }